<app-header></app-header>
<div class="wrapper">

    <div class="container mb15">
        <div class="row mtb15">
            <div class="col">
                <div class="tittle">
                    <a (click)="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Edit Profile
                </div>
            </div>

            <div class="col-12 mt15">
                <div class="usericon">
                    <img src="assets/images/user-icon.png">
                </div>
            </div>
            <div class="col-12 mt15">

            </div>
            <div class="col-4 mt15">
                <div class="durationBox">
                    1400<br>
                    <span class="smalltext">Yoga<br>
                        Mins</span>
                </div>
            </div>
            <div class="col-4 mt15">
                <div class="durationBox">
                    1200<br>
                    <span class="smalltext">Meditation<br>
                        Mins</span>
                </div>
            </div>
            <div class="col-4 mt15">
                <div class="durationBox">
                    5<br>
                    <span class="smalltext">Longest<br>
                        Steak</span>
                </div>
            </div>
        </div>
    </div>

    <div class="subTittle2 text-center mtb15">View Full Stats</div>
    <div class="container mb15 linktab">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr class="borderbottom">
                <td>My Subscription</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Favourite</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Following</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Reminders</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Support Areas</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Share with Freinds</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Help</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>
            <tr class="borderbottom">
                <td>Settings</td>
                <td class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
            </tr>

        </table>
    </div>
    <app-footer></app-footer>
</div>