<div class="wrapper">
    <div class="tittle font32 text-center mt30">Wellness and You</div>
    <div class="font18 text-center mtb15">What would you like<br>help with?</div>
    <div class="icon"><img src="assets/images/1.png" alt=""></div>
    <div class="options">
        <a class="active">Posture</a>
        <a>Meditation</a>
        <a>Sleep Quality</a>
        <a>Self Awarness</a>
        <a>Spirituality</a>
        <a>Mobility</a>
        <a>Stress</a>
        <a>Anxiety</a>
        <a>Flexiblity</a>
        <a>Breath Awareness</a>
        <a>Daily Exercise</a>
    </div>


    <div class="text-center mtb15">
        <a class="button" routerLink="/healingandyou">Next</a>
    </div>

    <div class="text-center mtb15">
        <a class="skip" routerLink="/healing">Skip</a>
    </div>












</div>