<app-header></app-header>
<div class="wrapper">
    <div class="contentbox">
        <img src="assets/images/healing-img.png" alt="" width="100%" class="radius-none">
    </div>
    <div class="container">
        <div class="mtb15 text-center"><strong>Healing & You</strong><br>
            Our healing programs are holistic in their
            approach, backed by decades of scientific
            research and surprisingly simple to follow.
            <br><br>
            <strong>Tell us, what you need help with.</strong>
        </div>

        <div class="row mt30">
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/diabetes.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault" />
                        <label for="flexCheckDefault">
                            Diabetes
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/anxiety.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault1" />
                        <label for="flexCheckDefault1">
                            Anxiety
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/arthiritis.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault2" />
                        <label for="flexCheckDefault2">
                            Arthiritis
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/asthma-COPD.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault3" />
                        <label for="flexCheckDefault3">
                            Asthma & COPD
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/back-pain.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault4" />
                        <label for="flexCheckDefault4">
                            Back Pain
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/depression.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault5" />
                        <label for="flexCheckDefault5">
                            Depressio
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/heart-disease.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault6" />
                        <label for="flexCheckDefault6">
                            Heart Disease
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/hypertension.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault7" />
                        <label for="flexCheckDefault7">
                            Hypertension
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/hypothyroidism.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault8" />
                        <label for="flexCheckDefault8">
                            Hypothyroidism
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/insomnia.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault9" />
                        <label for="flexCheckDefault9">
                            Insomnia
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/obesity.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault10" />
                        <label for="flexCheckDefault10">
                            Obesity
                        </label>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a routerLink="/diseases">
                    <div class="diseases">
                        <img src="assets/images/healing/PCOS.png" class="diseasesicon" alt="">
                    </div>
                    <div class="check">
                        <input mdbCheckbox type="checkbox" value="" id="flexCheckDefault11" />
                        <label for="flexCheckDefault11">
                            PCOS
                        </label>
                    </div>
                </a>
            </div>
        </div>












    </div>

    <app-footer></app-footer>
</div>