<app-header></app-header>
<div class="wrapper">
    <div class="dailyContent">
        <img src="assets/images/front-view-young-woman-meditating.png" alt="" width="100%">
        <div class="container">
            <div class="dailyBox">
                <div class="dailyText">Your Daily <br>
                    Yoga Regime</div>
                <div class="ui-bar-a ui-corner-bottom">
                    <a href="https://d1f4dij1g7feo0.cloudfront.net/7891027e-051f-41e5-86e7-9dc197c57996/hls/Boostyourimmunitywiththeseyogaasanas.m3u8"
                        target="_blank"> <img style="vertical-align:middle;" src="assets/images/play.svg"
                            width="26px" /> <span class="btnText">Watch
                            Now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb15">
        <div class="row mtb15">
            <div class="col">
                <div class="tittle">
                    We Recommend
                </div>
            </div>
            <div class="col">
                <div class="more">View All</div>
            </div>
        </div>
        <div class="contentbox">
            <a href="https://d1f4dij1g7feo0.cloudfront.net/f85badd6-21b1-4d09-830d-4f47e250ab93/hls/CoreStrength.m3u8"
                target="_blank">
                <img src="https://resetcontent.s3.ap-south-1.amazonaws.com/Yoga/Video/Batch1/CoreStrength/CoreStrength_375x277.jpg"
                    alt="" width="100%">
                <div class="contentStrape">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Duration : 20 Min
                </div>
            </a>
        </div>
        <div>
            <div class="subTittle"><strong>Core Strength</strong><br>
                Priyanjali Das</div>
        </div>

        <div class="row mtb15">
            <div class="col">
                <div class="tittle">
                    Spirituality
                </div>
            </div>
            <div class="col">
                <div class="more">View All</div>
            </div>
        </div>
        <div class="contentbox">
            <a href="https://d1f4dij1g7feo0.cloudfront.net/a640eaa0-44f4-4d11-aa3d-255c7565bb64/hls/KriyaforfrontalbrainCleansing.m3u8"
                target="_blank">
                <img src="https://resetcontent.s3.ap-south-1.amazonaws.com/Yoga/Video/Batch1/KriyaforfrontalbrainCleansing/KriyaforfrontalbrainCleansing_375x277.jpg"
                    alt="" width="100%">
                <div class="contentStrape">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Duration : 10 Min
                </div>
            </a>
        </div>
        <div>
            <div class="subTittle"><strong>Kriya for frontal brain Cleansing</strong><br>
                Priyanjali Das</div>
        </div>
    </div>
    <app-footer></app-footer>
</div>