.dailyContent{
    position: relative;
}
.dailyContent img{
   
    position: relative;
}
.dailyBox{
    position: absolute;
    top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.dailyText{
    color:rgba(0,0,0,50%);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.btnText{
    color: #FC4C02;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}
